header {
  height: 100vh;
  background-color: black;
}

.first-row {
  width: 100%;
  height: 50vh;
  margin-bottom: 0;
  background-color: black;
}
.last-row {
  width: 100%;
  height: 50vh;
  background-color: red;
}
